body {background: #333; color:white;
  overflow-x: hidden;
}
.fix {
  position: fixed; right: 30px; bottom:20px; z-index: 900;
  background: url(../images/monsterball_closed.png) no-repeat;
  background-size: cover;
  width: 140px;
  height: 140px;
}
.fix:hover{
  background: url(../images/monsterball_open.png) no-repeat;
  background-size: cover;
  width: 170px;
  height: 200px;
}
.logogo {position: relative; left: 500px; top: -5px; z-index: 999; text-align: center;
  font-size: 3rem;
  color:#eee;
}
/* 공통 */
.comment {text-align: center;}
.comment h1 {font-size: 3rem; font-weight: 600;}
.comment p {font-size: 2rem;}
.comment h1, .comment p {line-height: 1.5;}
h1 > span {font-size: 4rem;}
p > span {font-size: 2rem;}
/* 로고 */
#logo { position: relative; z-index: 999; left: 200px; top:-96px;}
#logo .container {width:60px; height: 60px;}
#logo .container a {}
#logo .container a img {width:100%;}
/* 프로모션 영상 */
.promo {
  height: 900px; overflow: hidden;  position: relative; left:0; top:-156px; 
}
.promo .container {text-align: center;}
.promo .container video {
  width:100%; 
  translate: (-50%, 0);
  display: block;
}
/* 대화면페이지 */
.page_1 {
  width:1920px; height: 400px; overflow: hidden; margin-bottom: 200px;
  position: relative; left:0; top:-157px;
}
.page_1 p {}
.page_1 p span {
  background: url(../images/sword_shield.png) no-repeat; width:100%; height:400px;
  background-size: cover;
  display: block;
}
/* 캠페인1 */
.campaign1 {position: relative; left: 0; top: -357px; width: 1240px; padding: 0 100px;}
.campaign1 .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.campaign1 .container .comment {padding-left: 100px;}
.campaign1 .container .comment h1 {margin-bottom: 45px;}
.campaign1 .container .comment h1 span {font-size: 5rem; color: skyblue}
.campaign1 .container .comment p {}
.campaign1 .container .comment h1, .campaign1 .comment p {margin-left: 50px;}
.campaign1 .container p {}
.campaign1 .container p span {color:#db4455;}
.campaign1 .container p span:last-child {color:greenyellow;}
.campaign1 .container p img {width: 80%;}
.bg_3 {width:100%;}
/* 캠페인2 */
.campaign2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  position: relative; left:0; top:-300px;
}
.campaign2 ul {
  display: flex;
  box-flex: row nowrap;
}
.campaign2 ul li {
  width:240px; height:240px; background: white; border-radius: 15px;
}
.campaign2 ul .ye {}
.campaign2 ul .ye span {
  background-position: center;
  width: 240px; height:240px;
  display: block;
  background-repeat:  no-repeat;
}
.campaign2 ul .ye span {  background-image: url(../images/p_1.png);

}
.campaign2 ul .ull { background: url(../images/p_2.png) no-repeat;
  background-position: center;
  margin: 0 10px;}
.campaign2 ul .hen { background: url(../images/p_3.png) no-repeat;
  background-position: center;
}
.campaign2 .comment h1 {margin-bottom: 45px;}
.campaign2 .comment h1 span {color: #0f0;}
.campaign2 .comment p {}
.campaign2 .comment p span {}
.campaign2 .comment p span:nth-child(2) {color: red;}
.campaign2 .comment p span:nth-child(3) {color: blue;}
.campaign2 .comment p span:last-child {color: green;}
.campaign2 .comment p img {}
.campaign2 .comment {padding-right: 50px;}
/* 캠페인3 */
.campaign3 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
  padding: 0 100px;
}
.campaign3 .comment {text-align: center; margin-top: 30px;}
.campaign3 .comment h1 {margin-bottom: 0px;}
.campaign3 .comment h1:hover {color: red;}
.campaign3 .container {display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;}
.campaign3 .container .jas {}
.campaign3 .container .jas p {text-align: center;}
.campaign3 .container .jas p img {width: 70%; margin-bottom: 30px;}
.campaign3 .container .jas p span {
  line-height: 1.5; font-size: 1.2rem;
  display: block;
}
.campaign3 .container .jam {}
.campaign3 .container .jam p {text-align: center;}
.campaign3 .container .jam p img {width: 70%;
margin-bottom: 15px;}
.campaign3 .container .jam p span {
  line-height: 1.5; font-size: 1.2rem;
  display: block;
}
.campaign3 p {}
.campaign3 > p {margin: 30px 0; text-align: center;}
.bg_5 {
  background: linear-gradient( to right bottom, blue, red );
}
/* 캠페인4 */
.campaign4 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
.campaign4 h1 {font-size: 2.5rem; font-weight: 600;}
.campaign4 .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}
.campaign4 .container .go1 {}
.campaign4 .container .go1 p {width: 500px; height:305px; margin-right:25px;}
.campaign4 .container .go1 p img {width: 100%; margin-bottom: 20px;}
.campaign4 .container .go1 p span {font-size: 1.2rem;}
.campaign4 .container .go2 {}
.campaign4 .container .go2 p {width: 500px; height:305px; margin-left:25px;}
.campaign4 .container .go2 p img {width: 100%; margin-bottom: 20px;}
.campaign4 .container .go2 span {font-size: 1.2rem;}
.campaign4 .comment {}
.campaign4 .comment h1 {margin-bottom: 30px; font-size: 2rem;}
.campaign4 .comment p {}
/* 캠페인5 */
.campaign5 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
.campaign5 h1 {font-size: 2.5rem; font-weight: 600; margin-bottom: 50px;}
.campaign5 .led {}
.campaign5 .led p {}
.campaign5 .led p img {width:75%;}
.campaign5 .comment {}
.campaign5 .comment p {margin-top: 50px;}
/* 캠페인6 */
.campaign6 {text-align: center;}
.campaign6 h1 {font-size: 2.5rem; font-weight: 600; margin: 100px 0;}
.campaign6 .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.campaign6 .container .cham {text-align: center; margin-bottom: 50px;}
.campaign6 .container .cham p img {width:75%;}
.campaign6 .container .cham {margin-bottom: 100px;}
.campaign6 .container .cham2 > p {text-align: center; font-size: 1.2rem; margin-top: 20px; line-height: 1.5;}
.campaign6 .container .cham2 p img {width:100%;}
footer {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  text-align: center;
  color:#fff;
}
.footer .t {margin: 30px;
}
.footer .t a {margin-right: 50px; color:#fff; font-size: 2rem; line-height: 1.8;}
.footer .t a:hover {
  text-decoration: underline;
  color: rgba(251,237,172,100);
}
.footer .t a:last-child {margin:0;}
.footer .btm {}
.footer .btm address {font-size: 1.5rem; line-height: 1.8;}
.footer p{font-size: 1.5rem; margin-top: 50px; margin-bottom: 30px;}
.bg_9 {width:100%; background: #222;}
/* background-attachment: fixed; */
/* footer {

}
footer .footer {
  background: url(../images/footer.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height:1000px; width:100%;
} */