body {background: #333;
  overflow-x: hidden;
}
.fix {
  position: fixed; right: 30px; bottom:20px; z-index: 900;
  background: url(../images/monsterball_closed.png) no-repeat;
  background-size: cover;
  width: 140px;
  height: 140px;
  transition: all 0.3s;
}
.fix:hover{
  background: url(../images/monsterball_open.png) no-repeat;
  background-size: cover;
  width: 170px;
  height: 200px;
}
.logogo {position: absolute;z-index: 999; text-align: center; left: 50%; top:50%; transform: translate(-50%, -50%);
  font-size: 3rem; width:1000px; text-transform: uppercase;
  color:#eee;
}
.logogo h1 {}
.logogo h2 {margin: 30px 0; }
.logogo h1,
.logogo h2 {font-size: 3rem; font-family: 'Jua', sans-serif;}
/* 공통 */
h1 {font-family: 'Jua', sans-serif;}
.comment {text-align: center;}
.comment h1 {font-size: 3rem; font-weight: 500;}
.comment p {font-size: 2rem;}
.comment h1, .comment p {line-height: 1.5; letter-spacing: 0.1em;}
h1 > span {font-size: 4rem; font-family: 'Jua', sans-serif;}
p > span {font-size: 2rem;}
/* 로고 */
#logo {position:absolute; z-index: 999; top:0; left:10%;}
#logo .container {width:60px; height: 60px;}
#logo .container a {}
#logo .container a img {width:100%;}
/* 프로모션 영상 */
.promo {
  height: 100vh; overflow: hidden;
}
.promo .container {text-align: center;}
.promo .container video {
  width:110%;
  display: block;
}
/* 캠페인1 */
.campaign1 {width: 1240px; padding: 150px; background: #1C2331;}
.campaign1 .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.campaign1 .container .comment {padding-left: 100px;}
.campaign1 .container .comment h1 {margin-bottom: 45px; color:white;}
.campaign1 .container .comment h1 span {font-size: 5rem; color: skyblue;}
.campaign1 .container .comment p {letter-spacing: -0.03rem; line-height: 1.6; color:white;
  font-size: 1.6rem;}
.campaign1 .container .comment h1, .campaign1 .comment p {margin-left: 50px;}
.campaign1 .container > p {  height:500px; overflow: hidden;
  border: 10px solid #fff;}
.campaign1 .container p:first-child {}
.campaign1 .container p span {color:#db4455;}
.campaign1 .container p span:last-child {color:greenyellow;}
.campaign1 .container p img {width: 100%;
}
.bg_3 {width:100%;}
/* 캠페인2 */
.campaign2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 150px;
}
.campaign2 ul {
  display: flex;
  box-flex: row nowrap;
}
.campaign2 ul li {
  width:240px; height:240px; background: white; border-radius: 15px;
  transition: all 0.3s;
}
.campaign2 ul .ye {
  background-color: #d87c46;
  display: block;
  background-repeat:  no-repeat;
  background-position: center;
  background-image: url(../images/p_1.png);
}
.campaign2 ul .ye:hover {
  background-repeat:  no-repeat;
  background-position: center;
  background-image: url(../images/p_1_1.png);
}
.campaign2 ul .ull {margin: 0 10px; background-image: url(../images/p_2.png);
  background-position: 0 -120px; background-color: #a3cddf;
  background-repeat:  no-repeat;}
  .campaign2 ul .ull:hover {
    margin: 0 10px; background-image: url(../images/p_2_2.png);
    background-repeat:  no-repeat;
    background-position: center;
  }
.campaign2 ul .hen { background-image: url(../images/p_3.png);
  background-position: -30px -80px; background-color: #b3d07e;
  background-repeat:  no-repeat;
}
.campaign2 ul .hen:hover {
  background-image: url(../images/p_3_3.png);
  background-repeat:  no-repeat;
  background-position: center;
}
.campaign2 .comment h1 {margin-bottom: 45px; color:white;}
.campaign2 .comment h1 span {color: #0f0;}
.campaign2 .comment p {color:white;}
.campaign2 .comment p span:nth-child(2) {color: red;}
.campaign2 .comment p span:nth-child(3) {color: blue;}
.campaign2 .comment p span:last-child {color: green;}
.campaign2 .comment p img {}
.campaign2 .comment {padding-right: 50px;}
/* 캠페인3 */
.campaign3 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
  padding: 0 100px;
}
.campaign3 .comment {text-align: center; margin-top: 30px;}
.campaign3 .comment h1 {font-family: 'Jua', sans-serif;}
.campaign3 .comment h1:hover {color: red;}
.campaign3 .container {display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;}
.campaign3 .container .jas {}
.campaign3 .container .jas p {text-align: center;}
.campaign3 .container .jas p img {width: 70%; margin-bottom: 30px;}
.campaign3 .container .jas p span {
  line-height: 1.5; font-size: 2rem;
  display: block;
}
.campaign3 .container .jas p span:hover {color:red;}
.campaign3 .container .jam {}
.campaign3 .container .jam p {text-align: center;}
.campaign3 .container .jam p img {width: 70%;
margin-bottom: 15px;}
.campaign3 .container .jam p span {
  line-height: 1.5; font-size: 2rem;
  display: block;
}
.campaign3 .container .jam p span:hover {color:blue;}
.campaign3 p {font-size: 1.5rem;}
.campaign3 > p {margin: 30px 0; text-align: center;}
.bg_5 {
  background: linear-gradient( to right bottom, blue, red );
}
/* 캠페인4 */
.campaign4 {
  background: #1C2331;
  padding:150px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
.campaign4 h1 {font-size: 4rem; font-weight: 600;color:white;}
.campaign4 h1 span {font-size: 4rem; font-weight: 600; color:#006400}
.campaign4 .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}
.campaign4 .container .go1 {color:white;}
.campaign4 .container .go1 p {
  width: 500px; height:305px; margin-right:25px; font-size: 1.75rem; color:white;
  
}
.campaign4 .container .go1 p img {width: 100%; margin-bottom: 20px;   border-radius: 25px; border: 7px solid #fff;}
.campaign4 .container .go1 p span {color: #870180;}
.campaign4 .container .go2 {}
.campaign4 .container .go2 p {width: 500px; height:305px; margin-left:25px; font-size: 1.75rem; color:white;}
.campaign4 .container .go2 p img {width: 100%; margin-bottom: 20px;   border-radius: 25px; border: 7px solid #fff;}
.campaign4 .container .go2 span {color: #006400;}
.campaign4 .comment {}
.campaign4 .comment h1 {margin-top: 30px; font-size: 3rem; color:white; }
.campaign4 .comment p {color:white; }
/* 캠페인5 */
.campaign5 {
  padding:150px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
.campaign5 h1 {font-size: 4rem; font-weight: 600; margin-bottom: 50px; color:white;}
.campaign5 h1 span {font-size: 4rem; color: gold;}
.campaign5 .led {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.campaign5 .led p {height:400px; overflow: hidden; border-radius: 25px;}
.campaign5 .led p:first-child {position: relative; top:55px;}
.campaign5 .led p:last-child {position: relative;
  width: 70%; height: 290px; background: linear-gradient(to right bottom, skyblue, pink); margin-right: 100px; padding-top: 35px;
}
.campaign5 .led p:last-child img {border-radius: 25px;}
.campaign5 .led p img { width:90%; border-radius: 25px;}
.campaign5 .comment {}
.campaign5 .comment p {margin-top: 50px; color:white;}
/* 캠페인6 */
.campaign6 {text-align: center; margin-bottom: 100px; margin: 0 auto; background:  #1C2331;
  padding: 150px;
}
.campaign6 h1 {font-size: 4rem; font-weight: 600; margin-bottom: 50px; color:white;}
.campaign6 h1 span {font-size: 4rem; color: #8f87b6;}
.campaign6 .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.campaign6 .container {text-align: center;}
.campaign6 .container p {color:white;}
.campaign6 .container p:first-child {width:800px;}
.campaign6 .container p:last-child {font-size: 2rem; line-height: 1.5;}
.campaign6 .container p:first-child img {width: 90%;}
footer {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  text-align: center;
  color:#fff;
}
.footer .t {margin: 30px;
}
.footer .t a {margin-right: 50px; color:#fff; font-size: 1.5rem; line-height: 1.5;}
.footer .t a:hover {
  text-decoration: underline;
  color: rgba(251,237,172,100);
}
.footer .t a:last-child {margin:0;}
.footer .btm {}
.footer .btm address {font-size: 1.2rem; line-height: 1.8;}
.footer p{font-size: 1.2rem; margin-top: 50px; margin-bottom: 30px;}
.bg_9 {width:100%; background: #222;}
/* background-attachment: fixed; */
/* footer {

}
footer .footer {
  background: url(../images/footer.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height:1000px; width:100%;
} */